<!-- Se pueden crear nuevos empleados, indicando la sucursal, el rol y la cantidad de horas que se laboran. -->
<!-- Breadcrumb Area -->
<div class="breadcrumb-area">
    <h1>Dashboard</h1>

    <ol class="breadcrumb">
        <li class="item"><a routerLink="/encomienda-gestion/create-employer"><i class='bx bx-home-alt'></i></a></li>

        <li class="item">Dashboard</li>

        <li class="item">Creacion empleados</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->

<div class="card mb-4">
    <div class="card-body">
        <form (ngSubmit)="submitForm()">
            <div class="form-group form-item-create-employer">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nombre y Apellido</span>
                </div>
                <input type="text" class="form-control" id="name" placeholder="Nombre" [(ngModel)]="employeeData.first_name" name="first_name" required>
                <input type="text" class="form-control" id="last_name" placeholder="Apellido" [(ngModel)]="employeeData.last_name" name="last_name" required>
              </div>
            </div>
            <div class="form-group col-md-7 form-item-create-employer">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="employeeData.email" name="email" required>
            </div>
            <div class="form-group col-md-7 form-item-create-employer">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="employeeData.password" name="password">
            </div>
            <div class="row">
                <div class="form-group col form-item-create-employer">
                  <label for="inputState">Rol</label>
                <select id="inputState" class="form-control" [(ngModel)]="selectedRoleId" name="selectedRoleId" (change)="updateSalary()">
                    <option *ngFor="let role of roles" [value]="role.id_role">{{ role.name }}</option>
                  </select>
                </div>                  
                <div class="form-group col form-item-create-employer">
                  <label for="inputState">Sucursal</label>
                  <select id="inputState" class="form-control" [(ngModel)]="selectedBranchId" name="selectedBranchId" (change)="updateRoles()">
                    <option *ngFor="let branch of branchs" [value]="branch.id_branch">{{ branch.name }}</option>
                  </select>
                </div>
              </div>
              <div class="input-group col-md-2 form-item-create-employer">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Q.</span>
                </div>
                <input type="number" class="form-control" placeholder="salario base" id="salary" [(ngModel)]="salary" name="salary" value={{salary}} disabled>
              </div>
            <!-- <div class="form-group col-md-2 form-item-create-employer">
                <label for="hours">Horas</label>
                <input type="number" class="form-control" id="hours">
            </div> -->
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</div>