.login-area {
	background-image: url(../../../../../assets/img/login.jfif);
}

.blur{
	-webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
	z-index: -1000;
}

input[type="text"] {
    background-color: transparent !important;
}