<!-- Breadcrumb Area -->
<div class="breadcrumb-area">
    <h1>Dashboard</h1>

    <ol class="breadcrumb">
        <li class="item"><a routerLink="/encomienda-gestion/honorarium"><i class='bx bx-home-alt'></i></a></li>

        <li class="item">Dashboard</li>

        <li class="item">Honorarium</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->

<!-- Start -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card mb-30 greetings-card-box">
            <div class="card-header">
                <h3>El empleado del mes</h3>
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="image">
                        <img src="assets/img/trophy.png" width="400" height="400" alt="image">
                    </div>

                    <div class="content">
                        <div class="icon mb-3">
                            <i class='bx bx-award'></i>
                        </div>
                        <h3>Felicidades Mark!</h3>
                        <p class="mb-0">Lo has hecho, el puesto <strong>#1</strong> Has apoyado con todo tu corazon a esta compañia y estamos agradecidos contigo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="col-lg-6 col-md-12">
        <div class="card mb-30">
            <div class="card-header">
                <h3>Client Recollection</h3>
            </div>

            <app-client-recollection></app-client-recollection>
        </div>
    </div> -->
</div>
<!-- End -->

<div class="card mb-30">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Tabla de honorarios</h3>

        <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class='bx bx-dots-horizontal-rounded' ></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                    <i class='bx bx-show'></i> View
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                    <i class='bx bx-edit-alt'></i> Edit
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                    <i class='bx bx-trash'></i> Delete
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                    <i class='bx bx-printer'></i> Print
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                    <i class='bx bx-download'></i> Download
                </a>
            </div>
        </div>
    </div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Posicion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Horas extras</th>
                <th scope="col">Ganancias</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>MarkOtto@encomienda.com</td>
                <td>55</td>
                <td>Q.500</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>JacobThornton@encomienda.com</td>
                <td>54</td>
                <td>Q.350</td>
            </tr>
    </table>
</div>
</div>