<div class="card mb-30">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Gastos fijos del mes</h3>

        <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class='bx bx-dots-horizontal-rounded' ></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                    <i class='bx bx-show'></i> View
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                    <i class='bx bx-edit-alt'></i> Edit
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                    <i class='bx bx-trash'></i> Delete
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                    <i class='bx bx-printer'></i> Print
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                    <i class='bx bx-download'></i> Download
                </a>
            </div>
        </div>

    </div>

    <form >
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Gastos de operacion</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Q.500.00">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Luz</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticLuz" value="Q.500.00">
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Alquiler</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticAlquiler" value="Q.1000.00">
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Teléfono</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticTelefono" value="Q.300.00">
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Internet</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticInternet" value="Q.200.00">
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Gasolina de vehículos</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticGasolina" value="Q.800.00">
            </div>
        </div>
        
        <!-- Agregar otros gastos de operación según sea necesario -->
        

    </form>

</div>
