<!-- Welcome Area -->
<div class="welcome-area">
    <div class="row m-0 align-items-center">
        <div class="col-lg-5 col-md-12 p-0">
            <div class="welcome-content">
                <h1 class="mb-2">Dashboard de metas</h1>
                <p class="mb-0">Estadisticas del mes, entradas y salidas</p>
            </div>
        </div>

        <div class="col-lg-7 col-md-12 p-0">
            <div class="welcome-img">
                <img src="assets/img/welcome-img.png" alt="image">
            </div>
        </div>
    </div>
</div>
<!-- End Welcome Area -->

<!-- Stats Area -->
<div class="ecommerce-stats-area">
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-stats-card-box">
                <div class="icon">
                    <i class='bx bxs-user-check'></i>
                </div>
                <span class="sub-title">Nuevos Envíos</span>
                <h3>{{ getNewShipmentsThisMonth }}</h3>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-stats-card-box">
                <div class="icon">
                    <i class='bx bxs-badge-dollar'></i>
                </div>
                <span class="sub-title">Ganancias Mes</span>
                <h3>{{ getEarningsThisMonth }}</h3>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-stats-card-box">
                <div class="icon">
                    <i class='bx bx-purchase-tag'></i>
                </div>
                <span class="sub-title">Envíos Entregados</span>
                <h3>{{ getDeliveredShipmentsThisMonth }}</h3>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-stats-card-box">
                <div class="icon">
                    <i class='bx bx-shopping-bag'></i>
                </div>
                <span class="sub-title">Horas Extra</span>
                <h3>{{ getTotalExtraHoursThisMonth }}</h3>
            </div>
        </div>
    </div>
</div>

<!-- End Stats Area -->


<!-- Start -->
<div class="row">
    <div class="col-lg-10 col-md-12">
        <div class="card mb-30">
            <div class="card-header d-flex justify-content-between align-items-center">
                <!-- <h3>Resumen de ingresos</h3> -->
                <h3>Resumen del presupuesto</h3>
            </div>

            <div class="card-body">
                
                <app-chart-monthly-goals></app-chart-monthly-goals>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4">
        <div class="new-product-box">
            <div class="icon">
                <i class='bx bx-shopping-bag'></i>
            </div>
            Total de gastos fijos
            <span class="sub-text d-block font-weight-bold"> Q.{{currentbranchExpenses}} </span>
        </div>

        <div class="new-user-box">
            <div class="icon">
                <i class='bx bx-spreadsheet'></i>
            </div>
            Total de gastos especiales
        <span class="sub-text d-block font-weight-bold"> Q.{{currentbranchSpecial}} </span>
        </div>

        <div class="upcoming-product-box">
            <div class="icon">
                <i class='bx bx-cart-alt'></i>
            </div>
            Total de excedentes
            <span class="sub-text d-block font-weight-bold">Q.{{currentsurplus}}</span>
        </div>
    </div>
</div>
<!-- End -->